[flake8]
# допустимая длина строки
max-line-length = 120

# игнорируем предупреждения:
# W291/W293  пробелы в конце строки / пустые строки с пробелами
# W391       пустая строка в конце файла
# E501       длинная строка (> max-line-length)
# F401       импорт не используется
# F821       не-объявленное имя (временное подавление)
extend-ignore = W291,W293,W391,E501,F401,F821
